@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-large-desktop: 1440px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-width: 320px;
  @apply bg-gray-light;
  transition: transform 0.5s ease;
  overflow-x: hidden;
}

body {
  @apply font-primary;
}

p {
  font-size: 1rem;
}

main,
nav,
.banner,
#navbar-modal {
  transition: transform 0.4s ease-in-out;
}

.navmenu-active main,
.navmenu-active nav,
.navmenu-active .banner {
  transform: translateX(-17rem);
}

@media screen(tablet) {
  .navmenu-active main,
  .navmenu-active nav,
  .navmenu-active .banner {
    transform: translateX(-23rem);
  }
}

@media screen(largeDesktop) {
  p,
  a {
    font-size: 1.2rem;
  }
}
